<template>
  <div :class="className">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'column',
  props: {
    xxs: [String, Number],
    xs: [String, Number],
    sm: [String, Number],
    md: [String, Number],
    lg: [String, Number],
    xl: [String, Number],

    offsetXxs: [String, Number],
    offsetXs: [String, Number],
    offsetSm: [String, Number],
    offsetMd: [String, Number],
    offsetLg: [String, Number],
    offsetXl: [String, Number]
  },
  data () {
    return {
      className: ['col']
    }
  },
  created () {
    const response = new Map([
      ['xxs', this.xxs],
      ['xs', this.xs],
      ['sm', this.sm],
      ['md', this.md],
      ['lg', this.lg],
      ['xl', this.xl]
    ])

    for (const [key, value] of response) {
      if (value !== '' && typeof value !== 'undefined') {
        this.className.push('col--' + key + '-' + value)
      }
    }

    const responseOffset = new Map([
      ['offset-xxs', this.offsetXxs],
      ['offset-xs', this.offsetXs],
      ['offset-sm', this.offsetSm],
      ['offset-md', this.offsetMd],
      ['offset-lg', this.offsetLg],
      ['offset-xl', this.offsetXl]
    ])

    for (const [key, value] of responseOffset) {
      if (value !== '' && typeof value !== 'undefined') {
        this.className.push('col--' + key + '-' + value)
      }
    }
  }
}
</script>

<style scoped lang="scss">
  $class-slug: "xxs", "xs", "sm", "md", "lg", "xl";

  .col {
    display: inline-block;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    box-sizing: border-box;

    @each $set in $class-slug {
      &--#{$set}-0 {
        width: 0%;
        padding: 0;
      }
      @for $i from 0 through $grid-columns {
        &--#{$set}-#{$i} {
          @include col(
            $screen: $set,
            $column: $i,
            $columns: $grid-columns
          );
        }
        &--offset-#{$set}-#{$i} {
          @include col-offset(
            $screen: $set,
            $column: $i,
            $columns: $grid-columns
          );
        }
      }
    }
  }
</style>
