<template>
    <div class="row">
        <slot></slot>
    </div>
</template>

<script>
export default {
  name: 'row'
}
</script>

<style scoped lang="scss">
    .row {
        margin-left: -$grid-gutter-width;
        margin-right: -$grid-gutter-width;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>
