<template>
    <div class="wrapper">
        {{ heading }}
    </div>
</template>

<script>
export default {
  name: 'TheFooter',
  data: () => {
    return {
      heading: 'this-footer'
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
