<template>
  <div :class="{
    'content-wrapper' : true,
    'content-wrapper--no-padding' : noPadding,
    'content-wrapper--fluid' : fluid
    }">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'ContentWrapper',
  props: {
    noPadding: {
      type: Boolean,
      default: false
    },
    fluid: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">
  .content-wrapper {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
    &--no-padding {
      padding: 0 !important;
    }
    &--fluid {
      max-width: 100% !important;
    }
  }
  // Пример медиа запроса
  @media screen and (min-width: $screen-lg) {
    .content-wrapper {
      max-width: 1024px;
      padding: 0 10px;
      &--fluid {
        max-width: 100%;
      }
    }
  }
</style>
