<template>
  <v-app>
    <v-main>
      <div class="unit-select fill-height">
        <v-container
          class="fill-height"
          fluid
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              md="4"
            >
              <v-card class="elevation-12">
                <v-toolbar
                  color="primary"
                  flat
                  dark
                >
                  <v-toolbar-title> Анкета </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-form>
                    <h3> Основное </h3>
                    <div class="d-flex flex-column flex-sm-row">
                      <v-text-field
                        class="mr-5"
                        label="ФИО"
                      ></v-text-field>
                      <v-radio-group
                        v-model="row"
                        row
                      >
                        <v-radio
                          label="Жен"
                          value="radio-1"
                        ></v-radio>
                        <v-radio
                          label="Муж"
                          value="radio-2"
                        ></v-radio>
                      </v-radio-group>
                    </div>
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="date"
                          label="Дата рождения"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="date"
                        :max="new Date().toISOString().substr(0, 10)"
                        min="1950-01-01"
                        @change="save"
                      ></v-date-picker>
                    </v-menu>
                    <h3> Пасспорт </h3>
                    <div class="d-flex flex-column flex-sm-row">
                      <v-text-field
                        class="mr-5"
                        label="Серия"
                      ></v-text-field>
                      <v-text-field
                        label="Номер"
                      ></v-text-field>
                    </div>
                    <v-text-field
                      label="Выдан"
                    ></v-text-field>
                    <h3> СНИЛС </h3>
                    <v-text-field
                      label="Номер"
                    ></v-text-field>
                    <template v-if="activeItem.includes('ИНН')">
                      <h3> ИИН </h3>
                      <v-text-field
                        label="Номер ИНН"
                      ></v-text-field>
                      <v-menu
                        ref="menu"
                        v-model="menuu"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="datee"
                            label="Дата регистрации"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          ref="picker"
                          v-model="datee"
                          :max="new Date().toISOString().substr(0, 10)"
                          min="1950-01-01"
                          @change="save"
                        ></v-date-picker>
                      </v-menu>
                    </template>
                    <template v-if="activeItem.includes('Справка о доходах')">
                      <h3> Справка о доходах </h3>
                      <v-menu
                        ref="menu"
                        v-model="menuuu"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="dateee"
                            label="Дата"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          ref="picker"
                          v-model="dateee"
                          :max="new Date().toISOString().substr(0, 10)"
                          min="1950-01-01"
                          @change="save"
                        ></v-date-picker>
                      </v-menu>
                      <v-text-field
                        label="Место работы"
                      ></v-text-field>
                      <v-text-field
                        label="Сумма"
                      ></v-text-field>
                    </template>
                    <div class="d-flex flex-column flex-sm-row align-center">
                      <v-btn
                        class="mr-5"
                        color="primary"
                        depressed
                        outlined
                        @click="show = !show"
                      > {{ show ? 'Закрыть' : '+ Добавить документ' }} </v-btn>
                      <v-select
                        v-if="show"
                        v-model="activeItem"
                        :items="items"
                        item-text="name"
                        label="Выберите документ"
                        multiple
                      >
                      </v-select>
                    </div>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="error"
                    depressed
                  > Отменить </v-btn>
                  <v-btn
                    color="primary"
                    depressed
                  > Продолжить </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    datee: null,
    menuu: null,
    dateee: null,
    menuuu: null,
    date: null,
    menu: false,
    items: ['ИНН', 'Справка о доходах'],
    activeItem: [],
    show: false
  })
}
</script>
