// grid system mixins

$screen-xl: 1920px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 414px;
$screen-xxs: $screen-xs - 1;

$grid-columns: 12;
$gutter: 12;
$grid-gutter-width: 10px;

$container-xl: 1120px;
$container-lg: 1120px;
$container-md: 900px;
$container-sm: 100%;
$container-xs: 100%;
$container-xxs: 100%;

@mixin col(
  $screen:  xs,
  $column:  $grid-columns,
  $columns: $grid-columns,
  $gutter:  $gutter
) {
  @if ($screen == xxs) {
    @include make-col($column, $columns, $gutter);
  }

  @if ($screen == xs) {
    @media (min-width: $screen-xs) {
      @include make-col($column, $columns, $gutter);
    }
  }

  @if ($screen == sm) {
    @media (min-width: $screen-sm) {
      @include make-col($column, $columns, $gutter);
    }
  }

  @if ($screen == md) {
    @media (min-width: $screen-md) {
      @include make-col($column, $columns, $gutter);
    }
  }

  @if ($screen == lg) {
    @media (min-width: $screen-lg) {
      @include make-col($column, $columns, $gutter);
    }
  }

  @if ($screen == xl) {
    @media (min-width: $screen-xl) {
      @include make-col($column, $columns, $gutter);
    }
  }
}

@mixin get-width ($column: 1, $columns: $grid-columns) {
  $width: (100% / $columns) * $column;
  flex: 0 0 $width;
  width: $width;
}

@mixin make-col (
  $column:  1,
  $columns: $grid-columns,
  $gutter:  $grid-gutter-width
) {
  @include get-width($column, $columns);
}
